body {
    overflow-x: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    ;
}

.nav-bar {
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
    display: flex;
    position: sticky;
    top: 0;
    background-color:white;
    width: 100vw;
    height: 4rem;

}

.logo img {
    height: 3.5rem;
    margin-left: 4rem;
}

.icon i {
    margin-top: 0.8rem;
    margin-left: 72rem;
    font-size: 2rem;
}

@media(max-width:786px) {
    .main_container {
        flex-direction: column;
    }
}
/* Hero Section*/
.hero {
    display: flex;
}

.hero-part img {
    display: flex;
    justify-content: center;
    height: 26rem;
    margin-left: 6.5rem;
    margin-top: 4rem;
}

.hero-content {
    margin-top: 8rem;
    margin-left: 6rem;
}

.tag {
    background-color: green;
    font-size: 1.5rem;
    display: inline-block;
    padding: 0.3rem;
}

.hero-content p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

.hero-content h1 {
    font-weight: 900px;
    font-size: 4rem;
}

.hero-content button {
    background-color: rgb(221, 161, 105);
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1rem;
    border: none;
}

.features {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    padding-right: 2rem;
    padding-left: 5rem;
    gap: 20px;
    margin-bottom: 50px;
}

.feature {
    display: flex;
    gap: 20px;
    padding: 1rem;
    transition: 0.2s ease-in-out;
}

.feature:hover {
    transition: 0.2s ease-in-out;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
}

.divider {
    border: 1px solid #ccc;
    margin: 20px 0;
}
/* Menu Section*/

.menu{
    display: flex;
    flex-direction: column;
    gap:50px;
    margin:50px 0;
    align-items: center;
}

.menu .tag {
    align-self: center;
    background-color: green;
    color: white;
    font-size: 1.5rem;
    padding: 0.3rem;
}

.grid-image{
    border-radius:10px;
    transition: 0.2s ease-in-out;
    width:100%;
    height:100%;
}
.grid-image:hover{
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}
.grid{
    display:grid;
    gap:10px;
    grid-template-areas: "I1  I1 I2 I3"
                          "I1 I1 I2 I7"   
                          "I4 I5 I6 I7"  ;
}
.item1{
    grid-area:I1;
}

.item2{
    grid-area:I2;
}

.item3{
    grid-area:I3;
}

.item4{
    grid-area:I4;
}

.item5{
    grid-area:I5;
}

.item6{
    grid-area:I6;
}

.item7{
    grid-area:I7;
}

/* Footer section*/

.footer {
    display: flex;
    background-color: rgb(247, 220, 179);
    /*position: fixed;*/
    width: 100%;
    bottom: 0%;
    height: 9rem;
}

.footer-logo img {
    margin-left: 17rem;
    height: 3rem;
}

.main-links {
    margin-left: 6rem;
    line-height: 3px;
    color: rgba(65, 61, 61, 0.836);
}

.main-links h4 {
    font-family: "PT Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.main-links p {
    font-family: "PT Sans", sans-serif;
    font-size: 1rem;
}

.Support {
    margin-left: 6rem;
    line-height: 3px;
    color: rgba(65, 61, 61, 0.836);
}

.Support h4 {
    font-family: "PT Sans", sans-serif;
    font-weight: 600;
    font-style: normal;

}

.Support p {
    font-family: "PT Sans", sans-serif;
    font-size: 1rem;
}

.contact-us {
    margin-left: 5rem;
    margin-top: 1rem;
    line-height: 3px;
    color: rgba(65, 61, 61, 0.836);
}

.contact-us label {
    font-family: "PT Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.contact-us h4 {
    font-family: "PT Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.contact-us i {
    color: black;
    font-size: 1.3rem;
}